# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/

# PDM
.pdm-build/
dist/
.pdm-python

# IDEs / editors
.vscode/

# 102 Category Flower Dataset
/flowers/
/flower_data.tar.gz

# trained models
/models/*.pth
